body {
    margin: 0;
}

* { 
    box-sizing:border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

#home {
    height: 100vh;
    width: 100%;
    background-image: url('img/bg-masthead.jpg');
    background-position: center center;
    background-size: cover;
}

.portada {
    color: white;
    position:absolute;
    top: 20%;
    left: 25%;
    width:30em;
    height:18em;
}